@font-face {
    font-family: Forum;
    src: url("./assets/fonts/Forum-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 600;
}

@mixin media($width){
    @media screen and (max-width: $width) {
        @content;
      }
}

$width_container:1440px;
$bg-dark:#030303;
$dark-red:#710707;
$font-gold:#9d8665;
$active:#7E6C51;

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.invisible{
    width: 1px;
    height: 1px;
    position: absolute;
    top: -99999px;
    overflow: hidden;
}

.container{
    max-width: $width_container;
    width: 100%;
    margin: 0 auto;

    @include media(1465px){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.title_section{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    /* line-height: 90px; */
    letter-spacing: 5px;
    text-transform: uppercase;
    @media screen and (max-width:1024px) {
        font-size: 50px;
        
    }
    
}

.title_section_white{
    color: #FFFFFF;
}

.title_section_brown{
    color: $font-gold;
}

.title_underline{
    border-bottom: 3px solid $dark-red;
    padding-bottom: 27px;
}

.indent_bottom_title73{
    margin-bottom: 75px;
    @include media(1024px){
        margin-bottom: 62px;
    }
}

.text_let_spac{
    letter-spacing: 0.01px;
}

.mb50{
    margin-bottom: 50px;
}

.mb25{
    margin-bottom: 25px;
    @include media(1024px){
        margin-bottom: 30px;
    }
}

.mb39{
    margin-bottom: 39px;
    @include media(1024px){
        margin-bottom: 15px;
    }
}

.pd_b40{
    padding-bottom: 40px;
    @include media(1024px){
        padding-bottom: 50px;
    }
}

.pd10{
    padding-bottom: 10px;
}

.pd5{
    padding-bottom: 5px;
}

.mb18{
    margin-bottom: 18px;
}

.logo_foot{
    padding-top: 10px;
    background-position-y: 7px;
}

.nav_link{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    
    /* identical to box height */
    letter-spacing: 2px;
    
    color: #FFFFFF;
    transition: all 0.3s;
    
    &:hover{
        color: $font-gold;
    }

    &:active{
        color: $active;
    }
}

.link_btn{
    display: block;
    text-decoration: none;
}

.active+.header_nav{
    left: 0;
}

.header{
    background-color: $bg-dark;
    line-height: 33px;
    padding-top: 59px;
    padding-bottom: 58px;
    
    @include media(1024px){
        padding-top: 49px;
        padding-bottom: 48px;

        
    }

    

    &_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .burger_menu{
        display: none;
        width: 32px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        @include media(1024px){
            display: flex;
            position: relative;
            z-index: 4;
            transition: all 0.3s ease 0s;
        }
        span{
            width: 100%;
            background-color: #fff;
            height: 2px;
            transition: all 0.3s ease 0s;
        }

        &.active{
            .tp{
                transform: rotate(-45deg) translate(-15px, 10px);
                width: 30px;
            }

            .bt{
                transform: rotate(45deg) translate(-10px, -5px);
                width: 30px;
            }
            
            .ct{
                opacity: 0;
            }
            
        }
    }
    
    &_nav{
        max-width: 775px;
        width: 100%;
        @media screen and (max-width:1024px) {
            position: fixed;
            left: -100%; 
            top: 130px;
            padding-top: 35px;
            padding-left: 55px;
            width: 297px;
            // height: 100%;
            justify-content: space-around ;
            
            background-color: $bg-dark;
            
            transition: all 0.3s ease 0s;
            z-index: 4;

            .nav_list{
                flex-direction: column;
                row-gap: 25px;

                li{
                    position: relative;
                    &::after{
                        content: ">";
                        position: absolute;
                        right: 80px;
                        color: white;
                    }
                }
            }
        }

        .nav_list{
            display: flex;
            width: 100%;
            justify-content: space-between;
            
            li{
                list-style: none;
            }
        }

        
    }
}

.logo{
    padding-left: 75px;
    background-image: url("./assets/svg/logo.svg");
    background-repeat: no-repeat;
    transition: all 0.3s;
    
    &_text{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &:hover{
        cursor: pointer;
        filter:invert(57%) sepia(8%) saturate(1508%) hue-rotate(356deg) brightness(93%) contrast(82%)
    }
}

.welcome{
    
    background-color: $bg-dark;

    &_title{
        @include media(1024px){
            line-height: 90px;
        }
        @include media(768px){
            text-align: center;
        }
    }

    &_text{
        // width: 598px;
        position: relative;
        z-index: 3;
        @include media(768px){
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &_container{
        display: flex;
        position: relative;
        padding-top: 150px;
        padding-bottom: 271px;
        @include media(1024px){
            padding-top: 50px;
            padding-bottom: 192px;
        }
        @include media(768px){
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &_subtitle{
        margin-top: 30px;
        margin-bottom: 75px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        color: #FFFFFF;
        @include media(1024px){
            margin-top: 26px;
            margin-bottom: 50px;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
        }
    }

    
    &_btn{
        outline: none;
        border: none;
        border-radius: 10px;
        max-width: 360px;
        width: 100%;
        background-color: $dark-red;

        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        padding-top: 25px;
        padding-bottom: 24px;
        cursor: pointer;
        &:hover{
            background-color: $font-gold;
        }

        @include media(1024px){
            max-width: 300px;
            font-size: 20px;
            line-height: 23px;
            padding: 18px 0 18px;
        }

        @include media(768px){
            display: none;
        }
    }

    .slider{
        position: absolute;
        max-width: 1000px;
        width: 100%;
        z-index: 1;
        right: 0;
        top: 0;
        @media screen and (max-width: 1024px) {
            max-width: 700px;
            right: 20px;
            height: 100%;
        }

        @include media(768px){
            position: static;
            max-width: 728px;
        }
        &_image{
            display: flex;
            overflow-x: hidden;
            position: relative;
            img{
               @include media(1024px){
                   width: 100%;
               }
            }
            .img_wrap{
                max-width: 1000px;
                width: 100%;
                
            }
        }

        &_grad{
            position: absolute;
            top: 0;
            bottom: 0;
            max-width: 300px;
            width: 100%;
            background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
            @include media(768px){
                display: none;
            }

        }

        &_wrapper{
            position: relative;
            padding-bottom: 60px;
            
        }



        &_panel{
            background-color: $bg-dark;
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 600px;
            width: 100%;
            padding-left: 74px;
            padding-right: 74px;
            @include media(1024px){
                max-width: 100%;
                justify-content: flex-end;
                padding-left: 30px;
                column-gap: 43px;
            }

            @include media(768px){
                justify-content: center;
            }
            // padding:40px ;

            .slide_count{
                display: flex;
                max-width: 76px;
                width: 100%;
                justify-content: space-between;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 40px;
                text-transform: uppercase;

                color: #FFFFFF;

                @include media(1024px){
                    max-width: 71px;
                    font-size: 20px;
                }
            }

            .slide_positions{
                display: flex;
                max-width: 180px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 52px 0 52px;
                @include media(1024px){
                    max-width: 160px;
                    padding: 54px 0 54px;
                }
            }

            .slide_position{
                width: 16px;
                height: 16px;
                background-color: #fff;
                @include media(1024px){
                    width: 12px;
                    height: 12px;
                }

            }

            .current_position{
                background-color: $font-gold;
            }

            .slide_btn{
                width: 40px;
                height: 40px;
                outline: none;
                border: none;
                background-color: $bg-dark;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center center;
                
            }

            .btn_next{
                background-image: url("./assets/img/arrow.png");
                
               
            }

            .btn_prev{
                background-image: url("./assets/img/arrow.png");
                
                transform: rotate(180deg);
            }
        }
    }
}

.visiting{

    &_container{
        padding-bottom: 74px;
        padding-top: 73px;
        @include media(1024px){
            padding-bottom: 60px;
        }
    }

    .cards_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px 60px;
        @include media(1024px){
            gap:60px 110px;
        }

        @include media(768px){
            gap:40px 56px;
        }
        
        .card{
            display: block;
            max-width: 440px;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            transition: transform 0.5s ease;
            @include media(1024px){
                max-width: 330px;
            }
            @include media(768px){
                max-width: 280px;
            }
        }
        
        .card_img{
            width: 100%;
            margin-bottom: 25px;
        }
        
        .card_title{
            font-family: Forum;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #000000;
        
            padding-bottom: 9px;
            position: relative;
            margin-bottom: 10px;
            @include media(1024px){
                font-size: 28px;
                line-height: 31px;
                letter-spacing: 3px;
            }
        }
        
        .card_title::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 300px;
            height: 2px;
            background-color: $dark-red;
            transition: all 0.5s;
            @include media(1024px){
                width: 155px;
            }
        }
        
        .card:hover{
            .card_title::after{
                width: 100%;
            }
        }

        .card_text_deg{
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 22px;
            line-height: 26px;
            color: #000000;    
            margin-bottom: 10px;
            @include media(1024px){
                font-size: 20px;
                line-height: 23px;
            }
        }
        
        .card_text_info{
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            @include media(1024px){
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

}

.explore{
    background-color: $bg-dark;

    &_container{
        display: flex;
        justify-content: center;
        padding-bottom: 77px;
        padding-top: 75px;
        flex-wrap: wrap;
        column-gap: 60px;
        @include media(1024px){
            padding-top: 70px;
            padding-bottom: 58px;
        }
        &_text{
            max-width: 660px;
            width: 100%;
            @include media(1024px){
                max-width: 100%;
                margin-bottom: 45px;
            }
            
            span{
                color: #CAAA7D;
            }
        }
    }

    &_text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #FFFFFF;
        margin-bottom: 25px;

        @media screen and (max-width:1024px) {
            margin-bottom: auto;
            font-size: 20px;
            &:nth-child(4){
                display: none;
            }
            
        }
        @include media(768px){
            display: none;
        }
    }
    
    &_slider{
        padding-top: 15px;
        max-width: 720px;
        width: 100%;
        .exp_slid_container{
            max-width: 720px;
            width: 100%;
            // overflow-x: hidden;
        }

        .explore_card{
            display: flex;
            // position: absolute;
            
            top: 0;
            left: 0;
            z-index: 1;

            // img{
            //     width: 100%;
            // }
        }

        .card_cur{
            position: absolute;
            top: 0;
            left: 0;
            /* right: 0; */
            overflow-x: hidden;
            width: 441px;
            z-index: 2;
        }

        .spliter{
            min-height: 100%;
            min-width: 5px;
            position: absolute;
            left: 441px;
            transform: translateX(-50%);
            // background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 39px;
            cursor: col-resize;
            .line{
                flex: 1;
                background-color: #fff;
            }


            
            z-index: 3;
            &::after{
                content: '';
                position: absolute;
                width: 39px;
                height: 39px;
                top: 50%;
                border: 5px solid #fff;
                border-radius: 50%;
                background: transparent;
                transform: translate(-50%, -50%);
            }
        }

        &_wrap{
            display: flex;
            position: relative;
        }
    }
}

.video{
    padding-top: 75px;
    padding-bottom: 75px;

    @include media(1024px){
        padding-bottom: 62px;
    }

    &_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_title_text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 77px;
        @include media(1024px){
            margin-bottom: 43px;
        }
    }

    &_text{
        max-width: 720px;
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #000000;

        display: flex;
        align-items: center;
        @media screen and(max-width: 1024px) {
            display: none;
        }
    }

    &_wrapper{
        position: relative;
        margin-bottom: 40px;

        .player{
            display: block;
            width: 100%;
        }

        .btn_play_video{
            background-image: url("./assets/img/btn_play.png");
            background-color: transparent;
            border: none;
            outline: none;
            width: 220px;
            height: 220px;
            z-index: 2;   
            position: absolute;
            top:calc(50% - 152px);
            left:calc(50% - 110px);
            cursor: pointer;

            @include media(1024px){
                width: 152px;
                height: 152px;
                background-size: contain;
                top:calc(50% - 104px);
                left:calc(50% - 78px);
            }
        }

        .video_control{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;
            // padding: 25px 0;
            @include media(1024px){
                justify-content: center;
                column-gap: 14px;
            }
        }
        
        .btn_control{
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            background-repeat: no-repeat;
            width: 85px;
            height: 85px;
            @include media(1024px){
                width: 60px;
                height: 60px;
            }
        }
        
        .btn_control_play{
            background-image: url("./assets/svg/play.svg");

            background-position: center center;
            background-size: 23px;
        }
        
       .btn_control_sound{
            background-image: url("./assets/svg/volume.svg");
            background-position: center center;
            background-size: 38px;
            @include media(1024px){
                background-size: 30px;
            }
        }
        
        .btn_control_fullscreen{
            background-image: url("./assets/svg/fullScrean.svg");
            background-position: center center;
            background-size: 35px;
            @include media(1024px){
                background-size: 25px;
            }
        }
        
        .btn_control:hover{
            filter: invert(71%) sepia(0%) saturate(882%) hue-rotate(218deg) brightness(87%) contrast(83%);
        }
        
        .progress {
            
            // border: solid 2px #82CFD0;
            /* border-radius: 8px; */
            height: 8px;
            outline: none;
            transition: background 450ms ease-in;
            -webkit-appearance: none;
        }
        
        .progress::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: pointer;
            background: #FFF;
        }
        
        .video_progress{
            background: linear-gradient(to right, $dark-red 0%, $dark-red 53%, #fff 53%, #fff 100%);
            max-width: 930px;
            width: 100%;
            @include media(1024px){
                max-width: 564px;
                height: 5px;
            }
        }
        
        .sound_progress{
            background: linear-gradient(to right, $dark-red 0%, $dark-red 41%, #fff 41%, #fff 100%);
            max-width: 155px;
            width: 100%;

            @include media(1024px){
                max-width: 143px;
                height: 5px;
            }
        }
        
        .video_title_text{
            display: flex;
            justify-content: space-between;
        }
        
        .video_text{
            max-width: 720px;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 38px;
            color: #000000;
        
            display: flex;
            align-items: center;
        }
    }

    &_slider{
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        &_wrapper{
            display: flex;
            justify-content: space-between;
            min-width: calc(452px * 5 + 42px * 4);
            @include media(1024px){
                min-width: calc(300px * 5 + 42px * 4);
            }

            .video_card{
                max-width: 452px;
                width: 100%;
                display: flex;

                @include media(1024px){
                    max-width: 300px;

                }
                .video_slide{
                    flex: 1;
                }

                iframe{
                    height: 254px;
                    @include media(1024px){
                        height: 170px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }

        &_nav{
            width: 100%;
            display: flex;
            justify-content: center;

            &_wrapper{
                max-width: 200px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav_btn{
                    width: 10px;
                    height: 12px;
                    background-image: url("./assets/svg/nav_arrow.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

                .nav_next{
                    transform: rotate(180deg);
                }

                .nav_position{
                    width: 12px;
                    height: 12px;
                    border-radius: 500%;
                    background-color: #999;
                }

                .nav_cur{
                    background-color: #333;
                }
            }
            
        }

    }
}

.gallery{
    background-color: $bg-dark;
    padding-top: 75px;

    @include media(1024px){
        padding-top: 70px;
        .mb1024{
            margin-bottom: 70px;
            @include media(768px){
                margin-bottom: 40px;
            }
        }
    }

    .gallery_pictures{
        position: relative;
        max-height: 1960px;
        overflow-y: hidden;
        @include media(1024px){
            max-height: 1265px;
        }
    }

    .picture_container{
        
        // width: 100%;
        // height: 3000px;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // row-gap: 24px;
        // column-gap: 18px;
        display: flex;
        flex-flow: column wrap;
        height: 3000px;
        row-gap: 24px;
        column-gap: 18px;
        &::before,&::after{
            content: "";
            flex-basis: 100%;
            width: 0;
            order: 2;
            @include media(999px){
                // order:0;
            }
        }


        .picture{
            max-width: 456px;
            @include media(1465px){
                max-width: 304px;
            }
            @include media(999px){
                max-width: 352px;
                width: 100%;
            }
        }

        
        @media screen and (min-width:1000px) {
            .picture:nth-child(3n+1) { order: 1; }
            .picture:nth-child(3n+2) { order: 2; }
            .picture:nth-child(3n) { order: 3; }
            .picture:first-child,.picture:nth-child(3){
                margin-top: 50px;
            }
        }

        @include media(999px){
            max-width: 728px;
            column-gap: normal;
            height: 4000px;
            
            .picture:nth-child(2n+1) { order: 1; };
            .picture:nth-child(2n) { order: 2; };
            
            .picture:first-child{
                margin-top: 50px;
            }
        }
        

        

        @media screen and (max-width:1465px) {
            align-items: center;

            &::before,&::after{
                // flex-basis: 984px;
            }
            
        }
    }
    

    &_grad{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 360px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        pointer-events: none;
    }
}

.tickets{
    padding-top: 75px;

    @include media(1024px){
        padding-top: 70px;
    }
    
    &_container{
        padding-bottom: 75px;
        @include media(1024px){
            padding-bottom: 55px;
        }
    }



    &_content{
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        @include media(768px){
            column-gap: 0;
        }

        .tickets_picture{
            max-width: 720px;
            width: 100%;
            @include media(1024px){
                max-width: 700px;
                width: 100%;
            }
            img{
                width: 100%;
                @include media(1024px){
                    height: 440px;
                }

                @include media(768px){
                    width: 444px;
                    height: 340px;
                }
            }


        }
    }

    &_type_amount{
        max-width: 660px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include media(1024px){
            width: auto;
            padding-right: 29px;
        }
    }
    
    .ticket_subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        color: $bg-dark;
    }

    .amount_title{
        display: flex;
        justify-content: flex-end;
    }

    &_type{
        display: flex;
        flex-direction: column;
        @include media(1024px){
            display: none;
        }
        .radio_group{
            display: flex;
            flex-direction: column;

            .label_radio{
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 26px;
                color: $bg-dark;
                margin-bottom: 25px;
            
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark {
                    position: absolute;
                    top: calc(50% - 9px);
                    left: 0;
                    height: 17px;
                    width: 17px;
                    background-color: transparent;
                    border: 2px solid #000;
                    border-radius: 50%;
                }
                
                .label_radio input:checked ~ .checkmark {
                    background-color: transparent;
                }
                
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the indicator (dot/circle) when checked */
                input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the indicator (dot/circle) */
                .checkmark:after {
                    top: calc(50% - 4px);
                    left: calc(50% - 3.5px);
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    /* border: 2px solid #FFFFFF; */
                    background: #000;
                }

                input{
                
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            
            // .label_radio:hover{
            //     color: var(--hover);
            // }
            
            
        }
    }

    .tickets_amount{
        display: flex;
        flex-direction: column;
        max-width: 175px;
        width: 100%;
        align-items: flex-end;
        @include media(1024px){
            width: 175px;
            align-items: flex-start;
            .mb35{
                margin-bottom: 19px;
            }
        }
        

        .amount_item{
            max-width: 150px;
            width: 100%;
            @include media(1024px){
                max-width: 100%;
            }
        }


        
        .item_title{
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;  
            color: #000;
            margin-bottom: 14px;
            @include media(1024px){
                margin-bottom: 9px;
            }
        }
        
        .amount_count{
            display: flex;
            
            width: 100%;
            border: 3px solid #000;
            padding-top: 5px;
            padding-bottom: 2px;
            margin-bottom: 11px;
            @include media(1024px){
                padding-right: 5px;
                padding-left: 5px;
            }
        }
        
        .amount_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            color: #000;
            padding: 0 17px;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        
        .amount_btn:hover .button_symbol{
            color: $font-gold;
        }
        
        .button_symbol{  
            display: inline-block;  
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 37px;
            text-align: center;
            color: #000;

            @include media(1024px){
                font-size: 32px;
            }
        }
        
        .number{
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #000;
        }
        
        .number::-webkit-inner-spin-button,
        .number::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        
        .total_sum{
            display: flex;
            justify-content: flex-end;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 1.65px;
            color: #000;
            margin-bottom: 60px;
            @include media(1024px){
                column-gap: 15px;
                margin-bottom: 68px;
            }
        }
        
        .btn_buy{
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #000;
            width: 100%;
            border-radius: 2px;
            padding: 12px 0 12px;
        
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
        
            color: #fff;

            &:hover{
                color: $bg-dark;
                background-color: $font-gold;
            }

            &:active{
                color: $active;
            }
        }
        
        // .btn_buy:hover{
        //     background-color: var(--hover);
        // }

    }
    
    .paralax{
        background-image: url("./assets/img/parallax.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-top: 400px;
        @include media(768px){
            padding-top: 300px;
        }
    }
}

.contacts{
    padding-top: 75px;
    padding-bottom: 69px;
    @include media(1024px){
        padding-bottom: 60px;
    }

    &_content{
        display: flex;
        justify-content: space-between;
        @include media(1024px){
            column-gap: 16px;
        }
        @include media(768px){
            flex-direction: column;
            row-gap: 40px;
        }
        .content_txt{
            max-width: 282px;
            width: 100%;
            @include media(1024px){
                max-width: 274px;
            }
            .contacts_subtitle{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 33px;
                color: #000000;

                max-width: 240px;
                width: 100%;
                margin-bottom: 50px;
                @include media(1024px){
                    max-width: 185px;
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 35px;
                }
            }

            .contact_item{
                list-style: none;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 26px;
                color: #000000;
                margin-bottom: 25px;
                @include media(1024px){
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 15px;
                }
            }

            .link_tel,.link_mail{
                color: $bg-dark;
                text-decoration: none;
                transition: all 0.3s;
                &:hover{
                    color:$font-gold;
                }
            }
        }

        .content_img{
            max-width: 960px;
            width: 100%;

            img{
                width: 100%;
            }
        }

    }
}

.footer{
    background-color: $bg-dark;
    padding-top: 75px;
    @include media(1024px){
        padding-top: 53px;
    }

    &_container{
        

        display: flex;
        justify-content: space-between;
        column-gap: 145px;
        @include media(1024px){
            column-gap: 30px;
        }
        // @media screen and (max-width:1465px) {
        //     
        // }

        
        .nav_footer{
            display: flex;
            max-width: 366px;
            width: 100%;

            .nav_list{
                display: flex;
                flex-wrap: wrap;
                column-gap: 152px;
                @include media(1024px){
                    column-gap: 135px;
                    row-gap: 25px;
                    padding-left: 11px;
                    padding-top: 12px;
                }
            }

            .nav_link{
                line-height: 50px;
                transition: all 0.3s;
                @include media(1024px){
                    font-size: 22px;
                    line-height: 26px;
                }
            }

            li{
                width: 107px;
                @include media(1024px){
                    width: 70px;
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }

        .soc_wrap{
            // max-width: 340px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .soc_list{
                display: flex;
                list-style: none;
                max-width: 336px;
                width:100%;
                justify-content: space-between;
                margin-bottom: 16px;
                @include media(1024px){
                    margin-bottom: 0;
                }
            }
            
            .soc_link{
                display: block;
                width: 48px;
                height: 48px;
                cursor: pointer;
                transition: all 0.5s ease;
            }
            
            .soc_link:hover{
                cursor: pointer;
                filter:invert(57%) sepia(8%) saturate(1508%) hue-rotate(356deg) brightness(93%) contrast(82%)
            }
            
            .youtube{
                background-image: url("./assets/svg/Youtube.svg");
                background-repeat: no-repeat;
            }
            
            .instagram{
                background-image: url("./assets/svg/Instagram.svg");
                background-repeat: no-repeat;
            }
            
            .facebook{
                background-image: url("./assets/svg/Facebook.svg");
                background-repeat: no-repeat;
            }
            
            .twitter{
                background-image: url("./assets/svg/Twitter.svg");
                background-repeat: no-repeat;
            }
            
            .pinterest{
                background-image: url("./assets/svg/Pinterest.svg");
                background-repeat: no-repeat;
            }
        }
        
    }

    .footer_info{
        border-top: 3px solid #666;

        padding: 50px 0 50px;

        @include media(1024px){
            .nav_link{
                font-size: 22px;
                line-height: 22px;

                &:nth-child(2){
                    padding-left: 33px;
                }
            }

        }

        span{
            
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 22px;
            line-height: 22px;

            /* identical to box height, or 100% */
            letter-spacing: 2px;

            color: #FFFFFF;


        }
    }
}

.buy{
    
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    &_container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding:91px 0 91px;
        position: relative;

        .btn_close{
            position: absolute;
            width: 25px;
            height: 25px;
            top: 30px;
            right: 30px;
            background-color: transparent;
            background-image: url("./assets/img/Close.png");
            border: none;
            outline: none;
            cursor: pointer;
        }
            
    }

    .ticket_wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 970px;
        width: 100%;
    }

    .ticket_info{
        max-width: 400px;
        width: 100%;
    }

    .logo_ticket{
        padding-top: 41px;
        background-image: url("./assets/svg/logo_ticket.svg");
        background-position: left top;
        background-repeat: no-repeat;
    }

    .ticket_head{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .ticket_subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        /* identical to box height */

        color:$dark-red;
        margin-bottom: 60px;
        
    }

    .ticket_date_time{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    

    .ticket_date{
        max-width: 190px;
        width: 100%;
        position: relative;
        background-image: url("./assets/img/date.png");
        background-repeat: no-repeat;
        background-position: 15px center;

        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }

        .inp_date::-webkit-outer-spin-button,
        .inp_date::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }

        .inp_date::-webkit-clear-button {
            display: none;
        }

        .inp_date::-webkit-calendar-picker-indicator {
            display: none;  
        }

        .inp_date::before{
            content: "Date";
            width: 100%;
        }

    }

    .ticket_time{
        max-width: 190px;
        width: 100%;
        position: relative;
        background-image: url("./assets/img/time.png");
        background-repeat: no-repeat;
        background-position: 15px center;
        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }

        .inp_time::-webkit-outer-spin-button,
        .inp_time::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }

        .inp_time::-webkit-clear-button {
            display: none;
        }

        .inp_time::-webkit-calendar-picker-indicator {
            display: none;  
        }

        .inp_time::before{
            content: "Time";
            width: 100%;
        }
    }

    .ticket_input{
        border: 1px solid #030303;
        padding-left: 45px;
        margin-bottom: 20px;
        overflow: hidden;
        input, select{
            border: none;
            outline: none;
            width: 100%;
            padding-top: 13px;
            padding-bottom: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #030303;
            &::placeholder{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;

                color: #030303;
            }
        }

        select{
            appearance: none;
            -webkit-appearance:none;
            -moz-appearance:none;
        }


    }

    .ticket_name{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/name.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_mail{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/email.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_phone{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/tel.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_type{
        position: relative;
        background-image: url("./assets/img/ballot.png");
        background-repeat: no-repeat;
        background-position: 15px center;
        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }
    }

    .ticket_entry{
        padding: 10px 15px 15px;
        border: 1px solid #030303;

        .entry_head{
            font-family: Forum;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;

            /* identical to box height */
            text-transform: capitalize;
            margin-bottom: 15px;
        }

        .entry_option{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .entry_count{
                max-width: 105px;
                width: 100%;
                display: flex;
                border: 1px solid #030303;
            }

            .entry_btn{
                display: flex;
                width: 35px;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                // padding: 12px 0 11px;
                border: none;
                outline: none;
                background-color: #030303;
                color: #fff;
                cursor: pointer;
                transition: all 0.5s ease;
                
            }

            .entry_number{
                width: 100%;
                border: none;
                outline: none;
                text-align: center;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;

                color: #030303;
            }

            .entry_number::-webkit-inner-spin-button,
            .entry_number::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        }
    }

    .ticket_pay{
        border: 1px solid #030303;
        max-width: 530px;
        width: 100%;
        padding: 25px 30px;

        .pay_overview{
            display: flex;
            justify-content: space-between;
            margin-bottom: 17px;

            .overview_head{
                margin-bottom: 2px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 37px;
                color: #272727;
            }

            .overview_subtitle{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 10px;
                color: #740C11;
                opacity: 0.9;
            }

            .pay_dt{
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                padding-left: 30px;
                color: #030303;
            }

            .date_pay{
                background-image: url("./assets/img/date.png");
                background-repeat: no-repeat;
                background-position-y: center;
                margin-bottom: 5px;
            }

            .time_pay{
                background-image: url("./assets/img/time.png");
                background-repeat: no-repeat;
                background-position-y: center;
                margin-bottom: 5px;
            }

            .txt_pay{
                background-image: url("./assets/img/check_circle_outline.png");
                background-repeat: no-repeat;
                background-position-y: center;
                margin-bottom: 5px;
            }

            .overview_img{
                width: 150px;
                height: 120px;
                background-image: url("./assets/img/louvre.jpg");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .total_option{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 5px;

            .total_count{
                min-width: 30px;
                background-color: #030303;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                
                color: #A4A4A3;;
                border-radius: 5px;
                text-align: center;
            }

            .option_text{
                width: 100%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 26px;

                color: #030303;
            }

            .price{
                min-width: 45px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 26px;

                color: #030303;
            }
        }

        .pay_total{
            margin-bottom: 11px;
        }

        .total_sum{
            display: flex;
            justify-content: space-between;
            border-top: 2px solid #740C11;
            padding-top: 10px;
        }

        .total_text{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;

            /* identical to box height */

            color: #030303;
        }

        .total_price{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;

            color: #030303;
        }

        .pay_card{
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 26px;
        }

        .card{
            max-width: 360px;
            width: 100%;
            border-radius: 3px;
        }

        .card_inp{
            padding: 10px;

            border: none;
            outline: none;
        }

        .card_num{
            width: 100%;
            margin-bottom: 10px;
        }

        .txt_font{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
        }
        
     

        .card_text{
            color: #161615;
            margin-bottom: 5px;
        }

        .card_front{
            position: relative;
            z-index: 2;
            background-color: #BCBCBC;
            padding: 15px 20px;

            .front_wrapper{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .front_inp{
                max-width: 215px;
                width: 100%;
                margin-bottom: 10px;
            }

            

            .wrap_date{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .card_month, .card_year {
                max-width: 100px;
                width: 100%;
            }


            .cardholder{
                width: 100% ;
            }

            .front_pic{
                padding-top: 19px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .pic_visa{
                background-image: url("./assets/img/Visa.png");
                width: 55px;
                padding-top: 16px;
                margin-bottom: 15px;
            }

            .pic_master{
                background-image: url("./assets/img/Mastercard.png");
                width: 53px;
                padding-top: 32px;
            }
        }

        .card_back{
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #939393;
            padding-top: 25px;
            padding-bottom: 15px;
            z-index: 1;

            .black_band{
                background-color: #161615;
                padding-top: 45px;
                margin-bottom: 15px;
            }

            .back_txt{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-right: 20px;
            }

            .cvc{
                max-width: 75px;
                width: 100%;
            }

            .cvc_head{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;

                color: #161615;
                text-align: center;
                margin-bottom: 5px;
            }

            .cvc_txt{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;

                color: #161615;
                max-width: 55px;
                width: 100%;
                margin: 0 auto;
            }
        }

        .pay_wrap_btn{
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .pay_btn{
                position: relative;
                max-width: 220px;
                width: 100%;
                padding-top: 11px;
                padding-bottom: 10px;
                background-color: #710707;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 26px;
                color: #FFFFFF;
                cursor: pointer;
                border: none;
                outline: none;
                overflow: hidden;

                .circle {
                    position: absolute;
                    background-color: #fff;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    animation: scale 0.5s ease-out;
                }

                &:hover{
                    cursor: pointer;
                }
            }


        }
    }


}

.buy_show{
    left: 0;
}

.circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
  