.app{
  min-height: 100%;
}

.hideWidget{
  opacity: 0;
  pointer-events: none;
}

.top{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.t_left{
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.t_right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container{
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.slider_icon:hover{
  opacity: 1;
}

.slider_icon:active{
  border: 0;
  outline: 0;  
  transform: scale(0.8);
}

.slide_prev {
  left: 20px;
  background-image: url("../../assets/svg/slider-prev.svg");
}

.slide_next {
  right: 20px;
  background-image: url("../../assets/svg/slider-next.svg");
}

.dateTime{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time{
  margin-bottom: 10px;
  font-family: Arial-MT;
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.5s linear;
}

.date{
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.5s linear;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.5s linear;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.bt_left{
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.bt_right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.settings{
  position: relative;
  
}

.settings_icon{
  width: 32px; 
  height: 32px;
  background-image: url("../../assets/svg/settings2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  cursor: pointer;
  transition:all 0.5s ease;
}

.settings_icon:hover{
   opacity: 1;
}
 
.settings_icon:active{
   transform: scale(0.8) rotate(90deg);
}

.settings_container{
  display: none;
  position: absolute;
  flex-direction: column;
  row-gap: 10px;
  bottom: 100%;
  
  left:0;
  height: 300px;
  /* opacity: 1 !important; */
  padding: 10px;
  width: 300px;
  background-color: #fff;
  z-index: 2;
  transition: all 0.5s linear;
}

.show .settings_container{
  display: flex;
  opacity: 0;
  height: 0px;
}

.show.app_show .settings_container{
  height: 300px;
  opacity: 1;
}


.stItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #000;
}

.stLang{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
}

.langLabel{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tmpBtn{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 2;
}