/*!
 *  owfont-regular 1.0.0 by Deniz Fuchidzhiev - http://websygen.com
 *  License - font: SIL OFL 1.1, css: MIT License
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'owfont';
  src: url(assets/owfont-regular-77585afbae07886acc4e..eot);
  src: url(assets/owfont-regular-77585afbae07886acc4e..eot?#iefix&v=1.0.0) format('embedded-opentype'),
	   url(assets/owfont-regular-165d3deef009efd0c531..woff) format('woff'),
	   url(assets/owfont-regular-3d46599b045b6a14f599..ttf) format('truetype'),
	   url(assets/owfont-regular-4fabe299e94a1f0d52bb..svg#owf-regular) format('svg');
  font-weight: normal;
  font-style: normal;
}
.owf {
  display: inline-block;
  font: normal normal normal 14px/1 owfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* makes the font 33% larger relative to the icon container */
.owf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.owf-2x {
  font-size: 2em;
}
.owf-3x {
  font-size: 3em;
}
.owf-4x {
  font-size: 4em;
}
.owf-5x {
  font-size: 5em;
}
.owf-fw {
  width: 1.28571429em;
  text-align: center;
}
.owf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.owf-ul > li {
  position: relative;
}
.owf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.owf-li.owf-lg {
  left: -1.85714286em;
}
.owf-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.owf-pull-right {
  float: right;
}
.owf-pull-left {
  float: left;
}
.owf.owf-pull-left {
  margin-right: .3em;
}
.owf.owf-pull-right {
  margin-left: .3em;
}

/* owfont uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
   
/*   Weather Condition Codes    */
   
/*   Thunderstorm - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
   
/* thunderstorm with light rain */
.owf-200:before,
.owf-200-d:before,
.owf-200-n:before {
  content: "\EB28";
}
/* thunderstorm with rain */
.owf-201:before,
.owf-201-d:before,
.owf-201-n:before {
  content: "\EB29";
}
/* thunderstorm with heavy rain */
.owf-202:before,
.owf-202-d:before,
.owf-202-n:before {
  content: "\EB2A";
}
/*  light thunderstorm  */
.owf-210:before,
.owf-210-d:before,
.owf-210-n:before {
  content: "\EB32";
}
/*  thunderstorm  */
.owf-211:before,
.owf-211-d:before,
.owf-211-n:before {
  content: "\EB33";
}
/*   heavy thunderstorm   */
.owf-212:before,
.owf-212-d:before,
.owf-212-n:before {
  content: "\EB34";
}
/*   ragged thunderstorm   */
.owf-221:before,
.owf-221-d:before,
.owf-221-n:before {
  content: "\EB3D";
}
/*  thunderstorm with light drizzle    */
.owf-230:before,
.owf-230-d:before,
.owf-230-n:before {
  content: "\EB46";
}
/*  thunderstorm with drizzle     */
.owf-231:before,
.owf-231-d:before,
.owf-231-n:before {
  content: "\EB47";
}
/* thunderstorm with heavy drizzle     */
.owf-232:before,
.owf-232-d:before,
.owf-232-n:before {
  content: "\EB48";
}

/*   Drizzle - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/*  light intensity drizzle */
.owf-300:before,
.owf-300-d:before,
.owf-300-n:before {
  content: "\EB8C";
}
/*  drizzle */
.owf-301:before,
.owf-301-d:before,
.owf-301-n:before {
  content: "\EB8D";
}
/*  heavy intensity drizzle  */
.owf-302:before,
.owf-302-d:before,
.owf-302-n:before {
  content: "\EB8E";
}
/*   light intensity drizzle rain  */
.owf-310:before,
.owf-310-d:before,
.owf-310-n:before {
  content: "\EB96";
}
/*  drizzle rain  */
.owf-311:before,
.owf-311-d:before,
.owf-311-n:before {
  content: "\EB97";
}
/* heavy intensity drizzle rain */
.owf-312:before,
.owf-312-d:before,
.owf-312-n:before {
  content: "\EB98";
}
/* shower rain and drizzle  */
.owf-313:before,
.owf-313-d:before,
.owf-313-n:before {
  content: "\EB99";
}
/* heavy shower rain and drizzle*/
.owf-314:before,
.owf-314-d:before,
.owf-314-n:before {
  content: "\EB9A";
}
/* shower drizzle */
.owf-321:before,
.owf-321-d:before,
.owf-321-n:before {
  content: "\EBA1";
}

/*   Rain - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* light rain  */
.owf-500:before,
.owf-500-d:before,
.owf-500-n:before {
  content: "\EC54";
}
/* moderate rain  */
.owf-501:before,
.owf-501-d:before,
.owf-501-n:before {
  content: "\EC55";
}
/* heavy intensity rain  */
.owf-502:before,
.owf-502-d:before,
.owf-502-n:before {
  content: "\EC56";
}
/* very heavy rain   */
.owf-503:before,
.owf-503-d:before,
.owf-503-n:before {
  content: "\EC57";
}
/* extreme rain    */
.owf-504:before,
.owf-504-d:before,
.owf-504-n:before {
  content: "\EC58";
}
/* freezing rain    */
.owf-511:before,
.owf-511-d:before,
.owf-511-n:before {
  content: "\EC5F";
}
/*  light intensity shower rain    */
.owf-520:before,
.owf-520-d:before,
.owf-520-n:before {
  content: "\EC68";
}
/* shower rain  */
.owf-521:before,
.owf-521-d:before,
.owf-521-n:before {
  content: "\EC69";
}
/*  heavy intensity shower rain  */
.owf-522:before,
.owf-522-d:before,
.owf-522-n:before {
  content: "\EC6A";
}
/* ragged shower rain  */
.owf-531:before,
.owf-531-d:before,
.owf-531-n:before {
  content: "\EC73";
}

/*   Snow - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* light snow  */
.owf-600:before,
.owf-600-d:before,
.owf-600-n:before {
  content: "\ECB8";
}
/*  snow  */
.owf-601:before,
.owf-601-d:before,
.owf-601-n:before {
  content: "\ECB9";
}
/*   heavy snow   */
.owf-602:before,
.owf-602-d:before,
.owf-602-n:before {
  content: "\ECBA";
}
/*  sleet  */
.owf-611:before,
.owf-611-d:before,
.owf-611-n:before {
  content: "\ECC3";
}
/*   shower sleet */
.owf-612:before,
.owf-612-d:before,
.owf-612-n:before {
  content: "\ECC4";
}
/* light rain and snow */
.owf-615:before,
.owf-615-d:before,
.owf-615-n:before {
  content: "\ECC7";
}
/* rain and snow  */
.owf-616:before,
.owf-616-d:before,
.owf-616-n:before {
  content: "\ECC8";
}
/* light shower snow  */
.owf-620:before,
.owf-620-d:before,
.owf-620-n:before {
  content: "\ECCC";
}
/* shower snow  */
.owf-621:before,
.owf-621-d:before,
.owf-621-n:before {
  content: "\ECCD";
}
/* heavy shower snow  */
.owf-622:before,
.owf-622-d:before,
.owf-622-n:before {
  content: "\ECCE";
}

/*   Atmosphere - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* mist */
.owf-701:before,
.owf-701-d:before,
.owf-701-n:before {
  content: "\ED1D";
}
/* smoke */
.owf-711:before,
.owf-711-d:before,
.owf-711-n:before {
  content: "\ED27";
}
/* haze */
.owf-721:before,
.owf-721-d:before,
.owf-721-n:before {
  content: "\ED31";
}
/* Sand/Dust Whirls */
.owf-731:before,
.owf-731-d:before,
.owf-731-n:before {
  content: "\ED3B";
}
/* Fog */
.owf-741:before,
.owf-741-d:before,
.owf-741-n:before {
  content: "\ED45";
}
/* sand */
.owf-751:before,
.owf-751-d:before,
.owf-751-n:before {
  content: "\ED4F";
}
/* dust */
.owf-761:before,
.owf-761-d:before,
.owf-761-n:before {
  content: "\ED59";
}
/*  VOLCANIC ASH  */
.owf-762:before,
.owf-762-d:before,
.owf-762-n:before {
  content: "\ED5A";
}
/* SQUALLS */
.owf-771:before,
.owf-771-d:before,
.owf-771-n:before {
  content: "\ED63";
}
/* TORNADO */
.owf-781:before,
.owf-781-d:before,
.owf-781-n:before {
  content: "\ED6D";
}

/*   Clouds - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/*  sky is clear  */  /*  Calm  */
.owf-800:before,
.owf-800-d:before,
.owf-951:before,
.owf-951-d:before {
  content: "\ED80";
}
.owf-800-n:before,
.owf-951-n:before {
  content: "\F168";
}
/*  few clouds   */
.owf-801:before,
.owf-801-d:before {
  content: "\ED81";
}
.owf-801-n:before {
  content: "\F169";
}
/* scattered clouds */
.owf-802:before,
.owf-802-d:before {
  content: "\ED82";
}
.owf-802-n:before {
  content: "\F16A";
}
/* broken clouds  */
.owf-803:before,
.owf-803-d:before,
.owf-803-n:before {
  content: "\ED83";
}
/* overcast clouds  */
.owf-804:before,
.owf-804-d:before,
.owf-804-n:before {
  content: "\ED84";
}

/*   Extreme - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* tornado  */
.owf-900:before,
.owf-900-d:before,
.owf-900-n:before {
  content: "\EDE4";
}
/*  tropical storm  */
.owf-901:before,
.owf-901-d:before,
.owf-901-n:before {
  content: "\EDE5";
}
/* hurricane */
.owf-902:before,
.owf-902-d:before,
.owf-902-n:before {
  content: "\EDE6";
}
/* cold */
.owf-903:before,
.owf-903-d:before,
.owf-903-n:before {
  content: "\EDE7";
}
/* hot */
.owf-904:before,
.owf-904-d:before,
.owf-904-n:before {
  content: "\EDE8";
}
/* windy */
.owf-905:before,
.owf-905-d:before,
.owf-905-n:before {
  content: "\EDE9";
}
/* hail */
.owf-906:before,
.owf-906-d:before,
.owf-906-n:before {
  content: "\EDEA";
}

/*   Additional - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* Setting */
.owf-950:before,
.owf-950-d:before,
.owf-950-n:before {
  content: "\EE16";
}
/*  Light breeze  */
.owf-952:before,
.owf-952-d:before,
.owf-952-n:before {
  content: "\EE18";
}
/*  Gentle Breeze  */
.owf-953:before,
.owf-953-d:before,
.owf-953-n:before {
  content: "\EE19";
}
/*  Moderate breeze  */
.owf-954:before,
.owf-954-d:before,
.owf-954-n:before {
  content: "\EE1A";
}
/* Fresh Breeze  */
.owf-955:before,
.owf-955-d:before,
.owf-955-n:before {
  content: "\EE1B";
}
/* Strong  Breeze  */
.owf-956:before,
.owf-956-d:before,
.owf-956-n:before {
  content: "\EE1C";
}
/* High wind, near gale  */
.owf-957:before,
.owf-957-d:before,
.owf-957-n:before {
  content: "\EE1D";
}
/* Gale */
.owf-958:before,
.owf-958-d:before,
.owf-958-n:before {
  content: "\EE1E";
}
/*  Severe Gale  */
.owf-959:before,
.owf-959-d:before,
.owf-959-n:before {
  content: "\EE1F";
}
/* Storm */
.owf-960:before,
.owf-960-d:before,
.owf-960-n:before {
  content: "\EE20";
}
/*  Violent Storm  */
.owf-961:before,
.owf-961-d:before,
.owf-961-n:before {
  content: "\EE21";
}
/* Hurricane */
.owf-962:before,
.owf-962-d:before,
.owf-962-n:before {
  content: "\EE22";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-width: 480px;
    min-height: 100vh;
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url(assets/bg-1ec547d73dd0ce35a063..jpg) center/auto, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}
.app{
  min-height: 100%;
}

.hideWidget{
  opacity: 0;
  pointer-events: none;
}

.top{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.t_left{
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.t_right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container{
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.slider_icon:hover{
  opacity: 1;
}

.slider_icon:active{
  border: 0;
  outline: 0;  
  transform: scale(0.8);
}

.slide_prev {
  left: 20px;
  background-image: url(assets/slider-prev-f5f3a4aa550dd30baa35..svg);
}

.slide_next {
  right: 20px;
  background-image: url(assets/slider-next-320ea03df2fc81496da0..svg);
}

.dateTime{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time{
  margin-bottom: 10px;
  font-family: Arial-MT;
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.5s linear;
}

.date{
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.5s linear;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.5s linear;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.bt_left{
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.bt_right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.settings{
  position: relative;
  
}

.settings_icon{
  width: 32px; 
  height: 32px;
  background-image: url(assets/settings2-3851838ba9a483bbe3e2..svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  cursor: pointer;
  transition:all 0.5s ease;
}

.settings_icon:hover{
   opacity: 1;
}
 
.settings_icon:active{
   transform: scale(0.8) rotate(90deg);
}

.settings_container{
  display: none;
  position: absolute;
  flex-direction: column;
  row-gap: 10px;
  bottom: 100%;
  
  left:0;
  height: 300px;
  /* opacity: 1 !important; */
  padding: 10px;
  width: 300px;
  background-color: #fff;
  z-index: 2;
  transition: all 0.5s linear;
}

.show .settings_container{
  display: flex;
  opacity: 0;
  height: 0px;
}

.show.app_show .settings_container{
  height: 300px;
  opacity: 1;
}


.stItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #000;
}

.stLang{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
}

.langLabel{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tmpBtn{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(96, 14, 151); */
    width: 250px;
    transition: all 0.5s linear;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btns{
    display: flex;
    
    width: 100;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.player-icon{
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;  
}

.player-icon:hover{
  opacity: 1;
}

.player-icon:active{
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(assets/play-61d46a084bd961ef0b33..svg);
}
  
.pause {
    background-image: url(assets/pause-38a38cb8b4bbbf369666..svg);
}

.play-prev {
    background-image: url(assets/play-prev-896b591f823abe420586..svg);
}

.play-next {
    background-image: url(assets/play-next-0f3a610b0a2f93528cb6..svg);
}

.play-list {
    text-align: left;
    padding: 0;
}
  
.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}
  
.play-item:hover {
    opacity: 1;
}
  
.play-item::before {
    content: "\2713";  
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}
  
.item-active::before {
    color: #C5B358;
}

.ranges{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.sound_container{
    display: flex;
    align-items: center;
    width: 95%;
    column-gap: 20px;
}

.sound{
    background-image: url(assets/volume-62304ecc8ed14a24e91d..svg);
}

.mute{
    background-image: url(assets/mute-58da70c6de47afba99d3..svg);
}

.progress {
    height: 5px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #FFF;
   
}

.video_progress{
    width: 95%;
   
}

.sound_progress{
    width: 100px;
}


.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 200px;
    min-height: 180px;  
    text-align: left;
    transition: all 0.5s linear;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;  
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {  
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.temperature, .weather-description {
    color: #fff;
}

.wind, .humidity{
    color: #fff;
}
.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    transition: all 0.5s linear;
}

.quote_btn{
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    background-image: url(assets/reload-91f316184109e60f0baf..svg);
}

.quote_btn:hover {
    opacity: 1;
}

.quote_btn:active {
    border: 0;
    outline: 0;  
    transform: scale(1.1);
}

.quote_text{
    font-size: 16px;
    min-height: 32px;
}

.quote_author{
    font-size: 16px;
    min-height: 20px;
}
.todo{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    text-shadow: 1px 0 1px #000, 
                0 1px 1px #000, 
                -1px 0 1px #000, 
                0 -1px 1px #000;
    cursor: pointer;
    /* overflow: hidden; */
    transition: all 0.5s linear;
    
}

.todo_container{
    display: none;
    position: absolute;
    flex-direction: column;
    row-gap: 10px;
    bottom: 100%;
    /* top: -100%; */
    right:0;
    
    padding: 10px;
    width: 300px;
    background-color: #fff;
    z-index: 2;
    /* opacity: 0; */
    /* transform: scaleY(0); */
    /* animation: todoShow 0.5s linear */
    transition: all 0.5s linear;
}

.show .todo_container{
    display: flex;
    opacity: 0;
    height: 0px;
}

.show.app_show .todo_container{
    height: 300px;
    opacity: 1;
}

.container_top{
    display: flex;
    border: 1px solid #000;
}

.input_todo{
    
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}

.add_btn{
    width: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: brown;
    font-size: 16;
    font-weight: bold;
    color: #fff;
}

.container_list{
    width: 100%;
    height: 100%;
    flex:1;
    overflow-y: scroll;
}

.list_todo li{
    cursor: pointer;
    position: relative;
    text-align: left;
    padding: 6px 40px;
    background: #eee;
    font-size: 12px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: none;
    color: black;
}

.list_todo li:nth-child(odd) {
    background: #f9f9f9;
}
  

.list_todo li:hover {
    background: #ddd;
}

.list_todo li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  

.list_todo li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 10px;
    transform: rotate(45deg);
    height: 12px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 16px;
    color: #fff;
    text-shadow: 1px 0 1px #000, 
                0 1px 1px #000, 
                -1px 0 1px #000, 
                0 -1px 1px #000;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}

@keyframes todoShow {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1);
    }
}


