@font-face {
    font-family: Forum;
    src: url("./assets/fonts/Forum-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$width_container:1440px;
$font-gold:#9d8665;
$dark-red:#710707;

.title_section_brown{
    color: $font-gold;
}

.title_underline{
    border-bottom: 3px solid $dark-red;
    padding-bottom: 27px;
}

.container{
    max-width: $width_container;
    width: 100%;
    margin: 0 auto;
}





.amount_btn:hover .button_symbol{
    color: $font-gold;
}

.pd10{
    padding-bottom: 10px;
}

.pd5{
    padding-bottom: 5px;
}

.mb18{
    margin-bottom: 18px;
}

.buy{
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    &_container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding:91px 0 91px;
        
    }

    .ticket_wrapper{
        display: flex;
        max-width: 970px;
        width: 100%;
    }

    .ticket{
        flex-basis: 50%;
    }

    .ticket_info{
        max-width: 400px;
        width: 100%;
    }

    .logo_ticket{
        padding-top: 41px;
        background-image: url("./assets/svg/logo_ticket.svg");
        background-position: left top;
        background-repeat: no-repeat;
    }

    .ticket_head{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 55px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .ticket_subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        /* identical to box height */

        color:$dark-red;
        margin-bottom: 60px;
        
    }

    .ticket_date_time{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    

    .ticket_date{
        max-width: 190px;
        width: 100%;
        position: relative;
        background-image: url("./assets/img/date.png");
        background-repeat: no-repeat;
        background-position: 15px center;

        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }
    }

    .ticket_time{
        max-width: 190px;
        width: 100%;
        position: relative;
        background-image: url("./assets/img/time.png");
        background-repeat: no-repeat;
        background-position: 15px center;
        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }
    }

    .ticket_input{
        border: 1px solid #030303;
        padding-left: 45px;
        margin-bottom: 20px;
        overflow: hidden;
        input, select{
            border: none;
            outline: none;
            width: 100%;
            padding-top: 13px;
            padding-bottom: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #030303;
            &::placeholder{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;

                color: #030303;
            }
        }

        select{
            appearance: none;
            -webkit-appearance:none;
            -moz-appearance:none;
        }


    }

    .ticket_name{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/name.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_mail{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/email.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_phone{
        max-width: 400px;
        width: 100%;
        background-image: url("./assets/img/tel.png");
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    .ticket_type{
        position: relative;
        background-image: url("./assets/img/ballot.png");
        background-repeat: no-repeat;
        background-position: 15px center;
        &::after{
            content: "";
            position: absolute;
            background-image: url("./assets/img/arrow_ticket.png");
            background-repeat: no-repeat;
            right: 15px;
            top: 15px;
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 2;
        }
    }

    .ticket_entry{
        padding: 10px 15px 15px;
        border: 1px solid #030303;

        .entry_head{
            font-family: Forum;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;

            /* identical to box height */
            text-transform: capitalize;
            margin-bottom: 15px;
        }

        .entry_option{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .entry_count{
                max-width: 105px;
                width: 100%;
                display: flex;
                border: 1px solid #030303;
            }

            .entry_btn{
                display: flex;
                width: 35px;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                // padding: 12px 0 11px;
                border: none;
                outline: none;
                background-color: #030303;
                color: #fff;
                cursor: pointer;
                transition: all 0.5s ease;
                
            }

            .entry_number{
                width: 100%;
                border: none;
                outline: none;
                text-align: center;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;

                color: #030303;
            }

            .entry_number::-webkit-inner-spin-button,
            .entry_number::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        }
    }
}