@font-face {
  font-family: Forum;
  src: url("./assets/fonts/Forum-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.title_section_brown {
  color: #9d8665; }

.title_underline {
  border-bottom: 3px solid #710707;
  padding-bottom: 27px; }

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.amount_btn:hover .button_symbol {
  color: #9d8665; }

.pd10 {
  padding-bottom: 10px; }

.pd5 {
  padding-bottom: 5px; }

.mb18 {
  margin-bottom: 18px; }

.buy {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center; }
  .buy_container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 91px 0 91px; }
  .buy .ticket_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    width: 100%; }
  .buy .ticket_info {
    max-width: 400px;
    width: 100%; }
  .buy .logo_ticket {
    padding-top: 41px;
    background-image: url("./assets/svg/logo_ticket.svg");
    background-position: left top;
    background-repeat: no-repeat; }
  .buy .ticket_head {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .buy .ticket_subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #710707;
    margin-bottom: 60px; }
  .buy .ticket_date_time {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .buy .ticket_date {
    max-width: 190px;
    width: 100%;
    position: relative;
    background-image: url("./assets/img/date.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
    .buy .ticket_date::after {
      content: "";
      position: absolute;
      background-image: url("./assets/img/arrow_ticket.png");
      background-repeat: no-repeat;
      right: 15px;
      top: 15px;
      width: 17px;
      height: 17px;
      cursor: pointer;
      z-index: 2; }
  .buy .ticket_time {
    max-width: 190px;
    width: 100%;
    position: relative;
    background-image: url("./assets/img/time.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
    .buy .ticket_time::after {
      content: "";
      position: absolute;
      background-image: url("./assets/img/arrow_ticket.png");
      background-repeat: no-repeat;
      right: 15px;
      top: 15px;
      width: 17px;
      height: 17px;
      cursor: pointer;
      z-index: 2; }
  .buy .ticket_input {
    border: 1px solid #030303;
    padding-left: 45px;
    margin-bottom: 20px;
    overflow: hidden; }
    .buy .ticket_input input, .buy .ticket_input select {
      border: none;
      outline: none;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 12px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #030303; }
      .buy .ticket_input input::placeholder, .buy .ticket_input select::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #030303; }
    .buy .ticket_input select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .buy .ticket_name {
    max-width: 400px;
    width: 100%;
    background-image: url("./assets/img/name.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
  .buy .ticket_mail {
    max-width: 400px;
    width: 100%;
    background-image: url("./assets/img/email.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
  .buy .ticket_phone {
    max-width: 400px;
    width: 100%;
    background-image: url("./assets/img/tel.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
  .buy .ticket_type {
    position: relative;
    background-image: url("./assets/img/ballot.png");
    background-repeat: no-repeat;
    background-position: 15px center; }
    .buy .ticket_type::after {
      content: "";
      position: absolute;
      background-image: url("./assets/img/arrow_ticket.png");
      background-repeat: no-repeat;
      right: 15px;
      top: 15px;
      width: 17px;
      height: 17px;
      cursor: pointer;
      z-index: 2; }
  .buy .ticket_entry {
    padding: 10px 15px 15px;
    border: 1px solid #030303; }
    .buy .ticket_entry .entry_head {
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      /* identical to box height */
      text-transform: capitalize;
      margin-bottom: 15px; }
    .buy .ticket_entry .entry_option {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .buy .ticket_entry .entry_option .entry_count {
        max-width: 105px;
        width: 100%;
        display: flex;
        border: 1px solid #030303; }
      .buy .ticket_entry .entry_option .entry_btn {
        display: flex;
        width: 35px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: #030303;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease; }
      .buy .ticket_entry .entry_option .entry_number {
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #030303; }
      .buy .ticket_entry .entry_option .entry_number::-webkit-inner-spin-button,
      .buy .ticket_entry .entry_option .entry_number::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
  .buy .ticket_pay {
    border: 1px solid #030303;
    max-width: 530px;
    width: 100%;
    padding: 25px 30px; }
    .buy .ticket_pay .pay_overview {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px; }
      .buy .ticket_pay .pay_overview .overview_head {
        margin-bottom: 2px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #272727; }
      .buy .ticket_pay .pay_overview .overview_subtitle {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
        color: #740C11;
        opacity: 0.9; }
      .buy .ticket_pay .pay_overview .pay_dt {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        padding-left: 30px;
        color: #030303; }
      .buy .ticket_pay .pay_overview .date_pay {
        background-image: url("./assets/img/date.png");
        background-repeat: no-repeat;
        background-position-y: center;
        margin-bottom: 5px; }
      .buy .ticket_pay .pay_overview .time_pay {
        background-image: url("./assets/img/time.png");
        background-repeat: no-repeat;
        background-position-y: center;
        margin-bottom: 5px; }
      .buy .ticket_pay .pay_overview .txt_pay {
        background-image: url("./assets/img/check_circle_outline.png");
        background-repeat: no-repeat;
        background-position-y: center;
        margin-bottom: 5px; }
      .buy .ticket_pay .pay_overview .overview_img {
        width: 150px;
        height: 120px;
        background-image: url("./assets/img/louvre.jpg");
        background-repeat: no-repeat;
        background-size: contain; }
