@font-face {
  font-family: Forum;
  src: url("./assets/fonts/Forum-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 600; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.title_section {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  /* line-height: 90px; */
  letter-spacing: 5px;
  text-transform: uppercase; }

.title_section_white {
  color: #FFFFFF; }

.title_section_brown {
  color: #9d8665; }

.title_underline {
  border-bottom: 3px solid #710707;
  padding-bottom: 27px; }

.indent_bottom_title73 {
  margin-bottom: 73px; }

.text_let_spac {
  letter-spacing: 0.01px; }

.header {
  background-color: #030303;
  line-height: 33px;
  padding-top: 59px;
  padding-bottom: 58px; }
  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header_nav {
    max-width: 775px;
    width: 100%; }
    .header_nav .nav_list {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .header_nav .nav_list li {
        list-style: none; }
    .header_nav .nav_link {
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      /* identical to box height */
      letter-spacing: 2px;
      color: #FFFFFF; }

.logo {
  padding-left: 75px;
  background-image: url("./assets/svg/logo.svg");
  background-repeat: no-repeat; }
  .logo_text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF; }

.welcome {
  background-color: #030303; }
  .welcome_text {
    position: relative;
    z-index: 3; }
  .welcome_container {
    display: flex;
    position: relative;
    padding-top: 150px;
    padding-bottom: 271px; }
  .welcome_subtitle {
    margin-top: 30px;
    margin-bottom: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF; }
  .welcome_btn {
    outline: none;
    border: none;
    border-radius: 10px;
    max-width: 360px;
    width: 100%;
    background-color: #710707;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 24px;
    cursor: pointer; }
    .welcome_btn:hover {
      background-color: #9d8665; }
  .welcome .slider {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 0; }
    .welcome .slider_image {
      display: flex;
      overflow-x: hidden;
      position: relative; }
    .welcome .slider_grad {
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 300px;
      width: 100%;
      background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)); }
    .welcome .slider_wrapper {
      position: relative;
      padding-bottom: 60px; }
    .welcome .slider_panel {
      background-color: #030303;
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 600px;
      width: 100%;
      padding-left: 74px;
      padding-right: 74px; }
      .welcome .slider_panel .slide_count {
        display: flex;
        max-width: 76px;
        width: 100%;
        justify-content: space-between;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF; }
      .welcome .slider_panel .slide_positions {
        display: flex;
        max-width: 180px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0 52px; }
      .welcome .slider_panel .slide_position {
        width: 16px;
        height: 16px;
        background-color: #fff; }
      .welcome .slider_panel .current_position {
        background-color: #9d8665; }
      .welcome .slider_panel .slide_btn {
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        background-color: #030303;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center; }
      .welcome .slider_panel .btn_next {
        background-image: url("./assets/img/arrow.png"); }
      .welcome .slider_panel .btn_prev {
        background-image: url("./assets/img/arrow.png");
        transform: rotate(180deg); }

.visiting_container {
  padding-bottom: 74px;
  padding-top: 75px; }

.visiting .cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 60px; }
  .visiting .cards_container .card {
    display: block;
    max-width: 440px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease; }
  .visiting .cards_container .card_img {
    width: 100%;
    margin-bottom: 25px; }
  .visiting .cards_container .card_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 9px;
    position: relative;
    margin-bottom: 10px; }
  .visiting .cards_container .card_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: all 0.5s; }
  .visiting .cards_container .card:hover .card_title::after {
    width: 100%; }
  .visiting .cards_container .card_text_deg {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 10px; }
  .visiting .cards_container .card_text_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000; }

.explore {
  background-color: #030303; }
  .explore_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 77px;
    padding-top: 75px; }
    .explore_container_text {
      max-width: 660px;
      width: 100%; }
      .explore_container_text span {
        color: #CAAA7D; }
  .explore_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 25px; }
  .explore_slider {
    padding-top: 15px;
    max-width: 720px;
    width: 100%; }
    .explore_slider .exp_slid_container {
      max-width: 720px;
      width: 100%; }
    .explore_slider .explore_card {
      display: flex;
      top: 0;
      left: 0;
      z-index: 1; }
    .explore_slider .card_cur {
      position: absolute;
      top: 0;
      left: 0;
      /* right: 0; */
      overflow-x: hidden;
      width: 441px;
      z-index: 2; }
    .explore_slider .spliter {
      min-height: 100%;
      min-width: 5px;
      position: absolute;
      left: 441px;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 39px;
      cursor: col-resize;
      z-index: 3; }
      .explore_slider .spliter .line {
        flex: 1;
        background-color: #fff; }
      .explore_slider .spliter::after {
        content: '';
        position: absolute;
        width: 39px;
        height: 39px;
        top: 50%;
        border: 5px solid #fff;
        border-radius: 50%;
        background: transparent;
        transform: translate(-50%, -50%); }
    .explore_slider_wrap {
      display: flex;
      position: relative; }

.video {
  padding-top: 75px;
  padding-bottom: 75px; }
  .video_container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .video_title_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px; }
  .video_text {
    max-width: 720px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
    display: flex;
    align-items: center; }
  .video_wrapper {
    position: relative;
    margin-bottom: 40px; }
    .video_wrapper .player {
      display: block; }
    .video_wrapper .btn_play_video {
      background-image: url("./assets/img/btn_play.png");
      background-color: transparent;
      border: none;
      outline: none;
      width: 220px;
      height: 220px;
      z-index: 2;
      position: absolute;
      top: calc(50% - 152px);
      left: calc(50% - 110px);
      cursor: pointer; }
    .video_wrapper .video_control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000; }
    .video_wrapper .btn_control {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      background-repeat: no-repeat;
      width: 85px;
      height: 85px; }
    .video_wrapper .btn_control_play {
      background-image: url("./assets/svg/play.svg");
      background-position: center center;
      background-size: 23px; }
    .video_wrapper .btn_control_sound {
      background-image: url("./assets/svg/volume.svg");
      background-position: center center;
      background-size: 38px; }
    .video_wrapper .btn_control_fullscreen {
      background-image: url("./assets/svg/fullScrean.svg");
      background-position: center center;
      background-size: 35px; }
    .video_wrapper .btn_control:hover {
      filter: invert(71%) sepia(0%) saturate(882%) hue-rotate(218deg) brightness(87%) contrast(83%); }
    .video_wrapper .progress {
      /* border-radius: 8px; */
      height: 8px;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none; }
    .video_wrapper .progress::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: pointer;
      background: #FFF; }
    .video_wrapper .video_progress {
      background: linear-gradient(to right, #710707 0%, #710707 53%, #fff 53%, #fff 100%);
      max-width: 930px;
      width: 100%; }
    .video_wrapper .sound_progress {
      background: linear-gradient(to right, #710707 0%, #710707 41%, #fff 41%, #fff 100%);
      max-width: 155px;
      width: 100%; }
    .video_wrapper .video_title_text {
      display: flex;
      justify-content: space-between; }
    .video_wrapper .video_text {
      max-width: 720px;
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
      color: #000000;
      display: flex;
      align-items: center; }
  .video_slider {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 40px; }
    .video_slider_wrapper {
      display: flex;
      justify-content: space-between;
      min-width: calc(452px * 5 + 42px * 4); }
      .video_slider_wrapper .video_card {
        max-width: 452px;
        width: 100%;
        display: flex; }
        .video_slider_wrapper .video_card .video_slide {
          flex: 1; }
    .video_slider_nav {
      width: 100%;
      display: flex;
      justify-content: center; }
      .video_slider_nav_wrapper {
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .video_slider_nav_wrapper .nav_btn {
          width: 10px;
          height: 12px;
          background-image: url("./assets/svg/nav_arrow.svg");
          background-repeat: no-repeat;
          background-size: cover;
          border: none;
          outline: none;
          cursor: pointer; }
        .video_slider_nav_wrapper .nav_next {
          transform: rotate(180deg); }
        .video_slider_nav_wrapper .nav_position {
          width: 12px;
          height: 12px;
          border-radius: 500%;
          background-color: #999; }
        .video_slider_nav_wrapper .nav_cur {
          background-color: #333; }

.gallery {
  background-color: #030303;
  padding-top: 75px; }
  .gallery .gallery_pictures {
    position: relative;
    max-height: 1960px;
    overflow-y: hidden; }
  .gallery .picture_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    row-gap: 24px;
    column-gap: 36px;
    grid-row-gap: 24px;
    overflow: hidden; }
    .gallery .picture_container .picture {
      position: relative;
      grid-row-end: span 5;
      overflow: hidden; }
      .gallery .picture_container .picture:nth-child(3n+1) {
        grid-column-start: 1;
        top: 50px; }
      .gallery .picture_container .picture:nth-child(3n+3) {
        grid-column-start: 3;
        top: 50px; }
    .gallery .picture_container .square {
      grid-row-end: span 4; }
    .gallery .picture_container .min_pic {
      grid-row-end: span 3; }
  .gallery_grad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    pointer-events: none; }
