@font-face {
  font-family: Forum;
  src: url("./assets/fonts/Forum-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 600; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.pad75_b_t {
  padding-bottom: 75px;
  padding-top: 75px; }

.header {
  background-color: #030303;
  line-height: 33px;
  padding-top: 59px;
  padding-bottom: 58px; }
  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header_nav {
    max-width: 775px;
    width: 100%; }
    .header_nav .nav_list {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .header_nav .nav_list li {
        list-style: none; }
    .header_nav .nav_link {
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      /* identical to box height */
      letter-spacing: 2px;
      color: #FFFFFF; }

.logo {
  padding-left: 75px;
  background-image: url("./assets/svg/logo.svg");
  background-repeat: no-repeat; }
  .logo_text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF; }

.welcome {
  background-color: #030303; }
  .welcome_text {
    position: relative;
    z-index: 3; }
  .welcome_container {
    display: flex;
    position: relative;
    padding-top: 150px;
    padding-bottom: 271px; }
  .welcome_subtitle {
    margin-top: 30px;
    margin-bottom: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF; }
  .welcome_btn {
    outline: none;
    border: none;
    border-radius: 10px;
    max-width: 360px;
    width: 100%;
    background-color: #710707;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 24px;
    cursor: pointer; }
    .welcome_btn:hover {
      background-color: #9d8665; }
  .welcome .slider {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 0; }
    .welcome .slider_image {
      display: flex;
      overflow-x: hidden;
      position: relative; }
    .welcome .slider_grad {
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 300px;
      width: 100%;
      background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)); }
    .welcome .slider_wrapper {
      position: relative;
      padding-bottom: 60px; }
    .welcome .slider_panel {
      background-color: #030303;
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 600px;
      width: 100%;
      padding-left: 74px;
      padding-right: 74px; }
      .welcome .slider_panel .slide_count {
        display: flex;
        max-width: 76px;
        width: 100%;
        justify-content: space-between;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF; }
      .welcome .slider_panel .slide_positions {
        display: flex;
        max-width: 180px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0 52px; }
      .welcome .slider_panel .slide_position {
        width: 16px;
        height: 16px;
        background-color: #fff; }
      .welcome .slider_panel .current_position {
        background-color: #9d8665; }
      .welcome .slider_panel .slide_btn {
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        background-color: #030303;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center; }
      .welcome .slider_panel .btn_next {
        background-image: url("./assets/img/arrow.png"); }
      .welcome .slider_panel .btn_prev {
        background-image: url("./assets/img/arrow.png");
        transform: rotate(180deg); }

.visiting .cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 60px;
  padding-top: 75px; }
  .visiting .cards_container .card {
    display: block;
    max-width: 440px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease; }
  .visiting .cards_container .card_img {
    width: 100%;
    margin-bottom: 25px; }
  .visiting .cards_container .card_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 9px;
    position: relative;
    margin-bottom: 10px; }
  .visiting .cards_container .card_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: all 0.5s; }
  .visiting .cards_container .card:hover .card_title::after {
    width: 100%; }
  .visiting .cards_container .card_text_deg {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 10px; }
  .visiting .cards_container .card_text_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000; }

.title_section {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  /* line-height: 90px; */
  letter-spacing: 5px;
  text-transform: uppercase; }

.title_section_white {
  color: #FFFFFF; }

.title_section_brown {
  color: #9d8665; }

.title_underline {
  border-bottom: 3px solid #710707;
  padding-bottom: 27px; }
